.Contador{
    text-align: center;
    background-color: #d60ff0;
}
.Contador div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background-color: #d60ff0;
    color: white;
    padding: 10px;
    margin: 3px;
    
}